{
    auto_https off
    frankenphp
    admin off
}

:{$PORT:8080} {
    root * /app/public
    encode gzip
    php_server

    log {
        output stderr
        format console
        level INFO
    }
}
